@model FlightQueryModel

@{
    ViewData["Title"] = "Home Page";

}

@*This list is used as suggestion for the "from" and "to" fields*@
<datalist id="dataListOptions">
    @foreach (var airport in ViewBag.Airports)
    {
        <option value="@airport.Code - @airport.City, @airport.Country"></option>
    }
</datalist>

<div class="mx-4 px-5">

    <div>
        <br />
        <div class="text-white mt-5">
            <h1 class="fw-normal" style="font-size:50px">Make every flight great</h1>
            <h4 class="fw-light">-JX Travel Agency</h4>
        </div>
        <br /><br />
        <div class="p-1 mt-5 bg-white rounded-3">
            <form action="@Url.Action("SearchFlights","Flight")" method="post">
                <div class="d-lg-flex justify-content-around">
                    <div class="px-3" style="width:200px">
                        <label asp-for="From" class="mb-0 mt-2 ms-2"></label>
                        <input asp-for="From" class="form-control form-control-sm border-0  border-bottom pe-0 list" list="dataListOptions" placeholder="Enter a City or Airport" />
                        
                        @* First Approach for text box
                        <label class="form-label d-flex mb-0 mt-2">From</label>
                        <input class="form-control border-0 p-0" placeholder="Enter a City or Airport" />
                        <hr class="mt-0" /> *@
                    </div>
                    <div class="my-auto">
                        <i class="bi-arrow-left-right"></i>
                    </div>
                    <div class="px-3" style="width:200px">
                        <label asp-for="To" class="mb-0 mt-2 ms-2"></label>
                        <input asp-for="To" class="form-control form-control-sm border-0 border-bottom pe-0" list="dataListOptions" placeholder="Enter a City or Airport" />
                    </div>
                    <div class="px-3" style="width:200px">
                        <label asp-for="DepartureDate" class="d-flex mb-0 mt-2"></label>
                        <input asp-for="DepartureDate" type="date" value=@ViewBag.CurrentDate class="form-control border-0 p-0"/>
                        <hr class="mt-0" />
                    </div>
                    <div class="px-3" style="width:115px">
                        <label asp-for="Passengers" class="d-flex mb-0 mt-2"></label>
                        <input asp-for="Passengers" type="number" min="1" class="form-control border-0 p-0" value="1" />
                        <hr class="mt-0" />
                    </div>
                    <div class="my-auto border-bottom">
                        <select class="form-select border-0" asp-for="Class"
                            asp-items="Model.ClassTypes">
                        </select>
                    </div>
                    
                    <div class="px-3 my-auto">
                        <button type="submit" class="btn btn-warning float-end" style="width:200px">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    

</div>


