@model Booking

@{
	ViewData["Title"] = "Ticket Confirmation";
}

<div class="bg-transparent div-centerx pt-5">
	<div class="rounded-3 shadow pb-5" style="background-color:#F5F5F5">
		<div class="border-bottom text-center p-1">
			<h1 class=" fw-light" style="color:#003783">Booking Successful</h1>
		</div>

		<div class="mx-auto py-1">
			<h1>@Model.BookingId</h1>
		</div>

	</div>
</div>