@{
	ViewData["Title"] = "Access Denied!";
}

<div class="bg-transparent div-center" style="height:500px">
	<div class="rounded-3 shadow div-center bg-white bg-opacity-50" style="width:40%">
		<div class="text-center">
			<i class="bi bi-emoji-frown text-danger" style="font-size:70px"></i><br>
			<h1 class="fw-light text-danger" style="font-size:80px">Access Denied!</h1>
		</div>
	</div>
</div>
