@model JX_Travel_Agency_Web_App.Models.QueryModel.UserQueryModel

@{
	ViewData["Title"] = "Login Page";
}
<div class="bg-transparent div-centerx pt-5">
	<div class="rounded-3 shadow pb-5" style="width:35%; background-color:#F5F5F5">
		<div class="border-bottom text-center p-1">
			<h1 class=" fw-light" style="color:#003783">Login</h1>
		</div>
		
		<div class="mx-auto py-1" style="width:60%">
			<span class="text-danger fs-5">@TempData["ErrorMsg"]</span>
			<form action="Login" method="post">
				<div class="form-floating py-2">
					<input type="text" asp-for="Username" class="form-control shadow" placeholder="username" />
					<label asp-for="Username"><i class="bi bi-person-fill" style="font-size:25px"></i>Username</label>
					<span asp-validation-for="Username" class="text-danger"></span>
				</div>
				<div class="form-floating py-2">
					<input type="password" asp-for="Password" class="form-control shadow" placeholder="password" />
					<label asp-for="Password"><i class="bi bi-lock-fill" style="font-size:25px"></i>Password</label>
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div class="div-centerx py-2">
					<button type="submit" class="btn shadow fw-bold fs-5" style="color:#003783; background-color:#E0EEFC; width:100%">Login</button>
				</div>
				<div class="form-floating pt-4">
					<span>Don't have an account? <a asp-action="Register" style="color:#003783 ">Create</a></span>
				</div>
			</form>
		</div>
		
	</div>
</div>

