<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | JX_Travels</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/JX_Travel_Agency_Web_App.styles.css" asp-append-version="true" />
	<link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
	<link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>
    <header>
    <div class="row" >
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid col-10">
                <a asp-controller="Home" asp-action="Index" class="btn text-white d-inline-flex justify-content-around">
                        <p class="fs-1" style="font-weight:600">JX</p>
                        <p class="fs-6 my-auto" style="font-weight:100">travels</p>
                </a>
                <div class="navbar-nav me-auto">
                    <a class="nav-link text-white px-4" asp-controller="Home" asp-action="Index"><i class="bi-airplane"></i> Flights</a>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" type="button" data-bs-toggle="dropdown"><i class="bi bi-gear"></i> Management</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="FLight" asp-action="Flights">Flights</a></li>
                                    <li><a class="dropdown-item" asp-controller="SeatInventory" asp-action="SeatInventory">Seat Inventory</a></li>
                                    <li><a class="dropdown-item" asp-controller="Airport" asp-action="Airports">Airports</a></li>
                                </ul>
                            </li>
                        }
                    @* <a class="nav-link text-white"><i class="bi-bus-front"></i> Buses</a>
                    <a class="nav-link text-white"><i class="bi-train-front"></i> Trains</a> *@
                </div>
                <div class="float-end">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("Admin"))
                                    {
                                        <li class="nav-item">
                                            <a asp-controller="Account" asp-action="Logout" class="nav-link text-white"><i class="bi bi-person-fill"></i>Hey, @User.Identity.Name (Admin)</a>
                                        </li>
                                    } else
                                    {
                                        <li class="nav-item">
                                            <a asp-controller="Account" asp-action="Logout" class="nav-link text-white"><i class="bi bi-person"></i>Hey, @User.Identity.Name</a>
                                        </li>
                                    }

                                    <li class="nav-item">
                                        <a asp-controller="Account" asp-action="Logout" class="nav-link text-white"><i class="bi bi-box-arrow-right"></i> Logout</a>
                                    </li>
                                } else
                                {
                                    // <li class="nav-item">
                                    //     <a class="nav-link text-white"><i class="bi-gift"></i> Offers</a>
                                    // </li>
                                    <li class="nav-item">
                                        <a asp-controller="Account" asp-action="Login" class="nav-link text-white"><i class="bi-person"></i> Login</a>
                                    </li>
                                }
                            }
                        
                    </ul>
                </div>
                    
            </div>
        </nav>  
    </div>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-text-muted pt-2" id="footer">
        <div class="container">
            &copy; 2023 - JX_Travel_Agency_Web_App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>